name: Abunta OS Native Debian Build

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: debian:trixie
      options: --privileged

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Tools
        run: |
          apt-get update
          apt-get install -y live-build debootstrap curl git cpio squashfs-tools xorriso

      - name: Manual Configuration
        run: |
          lb clean --purge
          lb config --distribution trixie \
                    --architecture amd64 \
                    --debian-installer live \
                    --archive-areas "main contrib non-free non-free-firmware" \
                    --mirror-bootstrap "http://deb.debian.org/debian/" \
                    --mirror-chroot "http://deb.debian.org/debian/"

          mkdir -p config/archives
          echo "deb https://adembenarfa175-code.github.io/abunta-repos/ arixie main" > config/archives/abunta-repo.list.chroot
          curl -s https://adembenarfa175-code.github.io/abunta-repos/araxie-key.pub > config/archives/abunta-repo.key.chroot

          mkdir -p config/package-lists
          cat <<EOP > config/package-lists/abunta.list.chroot
          de-abunta-desktop
          abunta-installer-gui
          edit-abunta-themes
          EOP

      - name: Build ISO
        run: lb build

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: Abunta-Debian-Native-ISO
          path: "*.iso"
